<div class="comments">
  {{!-- <a href="/comment/{{id}}"> --}}
  {{!-- <header> {{name}}</header> --}}

  {{! </a> }}
  <p class="text">
    {{comment_text}}
  </p>
  <p class="postedby">
    {{username}},
    {{created_at}}
  </p>

</div>
{{! <script src="/js/comment.js"></script> }}