{{!-- <div class="comments">
  {{!-- <a href="/comment/{{id}}"> --}}
{{!-- <header> {{name}}</header> --}}
{{!-- <p class="text">
    comments
    {{comment_text}}
  </p>
  <p class="postedby">
    {{username}},
    {{created_at}} --}}
{{! </p> }}

{{! </a> }}

{{! </div> }}