<section class="card">
  <a href="#workout/{{id}}">
    <header> {{name}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}" />
      <p>How to: {{description}}</p>
      <p>How much to do: {{reps}}</p>
      <p>Difficulty: {{difficulty_level}}</p>
      <p>Whats Needed: {{equipment}}</p>
      <p>By: {{username}}</p>
    </div>
  </a>
</section>