<section class="card">
  <a href="/workout/{{id}}">
    <header> {{name}}</header>

    <div class="card-body">

      <img src="/images/{{filename}}" width="500px" />


      <p>Benefits of Workout: {{description}}</p>
      <p>Reps/Sets: {{reps}}</p>
      <p>Difficulty Level: {{difficulty_level}}</p>
      <p>Equipment Needed: {{equipment}}</p>
      <p>Comment Posted By: {{username}}</p>
    </div>
  </a>
</section>