<div class="workoutcard">
  <a href="/api/workout/{{id}}">

    {{! <div class="card-body"> }}

    <img src="/images/{{filename}}" width="500px" />

  </a>
  <header> {{name}}</header>
  <p>Benefits of Workout: {{description}}</p>
  <p>Reps/Sets: {{reps}}</p>
  <p>Difficulty Level: {{difficulty_level}}</p>
  <p>Equipment Needed: {{equipment}}</p>
  <p>Posted By: {{username}}</p>
</div>