<section class="card">
    <a href="#workout/{{id}}">
        <header> {{title}}</header>
        
        <div class="card-body">
            <img src="/images/{{filename}}" alt="{{description}}">
            <p>By: {{user}}</p>
        </div>
    </a>
</section>