<section class="card">
    <a href="#workout/{{id}}">
        <header> {{Category}}</header>
        
        <div class="card-body">
            <img src="/images/{{activity}}" alt="{{description}}">
            <p>By: {{user_id}}</p>
            <p>Workout: {{activity}}</p>
            <p>How to: {{description}}</p>
            <p>How much to do: {{reps}}</p>
            <p>Difficulty: {{difficulty_level}}</p>
            <p>Whats Needed: {{equipment}}</p>
        </div>
    </a>
</section>