 <div class='add-workout-container'>
    <h2>
      Add your favorite workout!
    </h2>
    <form class='new-workout-form'>
      <label for='workout_name'>
        Workout Name:
      </label>
      <br />
      <textarea id='workout_name' name='workout_name' rows='2' cols='30'>
        {{name}}
      </textarea>
      <br />
      <label for='benefits_workout'>
        Benefits of Workout:
      </label>
      <br />
      <textarea id='benefits_workout' name='benefits_workout' rows='5' cols='30'>
        {{description}}
      </textarea>
      <br />
      <label for='reps'>
        Reps/Sets:
      </label>
      <br />
      <textarea id='workout_reps' name='workout_reps' rows='2' cols='30'>
        {{reps}}
      </textarea>
      <br />
       <br />
      <label for='difficulty_level'>
        Difficulty Level:
      </label>
      <br />
      <textarea id='workout_difficulty' name='workout_difficulty' rows='2' cols='30'>
        {{difficulty_level}}
      </textarea>
      <br />
       <br />
      <label for='equipment'>
        Equipment Needed:
      </label>
      <br />
      <textarea id='workout_equipment' name='workout_equipment' rows='2' cols='30'>
        {{equipment}}
      </textarea>
      <br />
       <br />
      <label for='username'>
        Posted By:
      </label>
      <br />
      <textarea id='workout_username' name='workout_username' rows='2' cols='30'>
        {{username}}
      </textarea>
      <br />
      <br />
      <button type='submit' value='Submit'>
        Submit Post
      </button>
    </form>
  </div>
</div>
<!-- This is the form for adding a new dish -->
<script src='/js/add-dish.js'></script>
