{{#each activities as |activity|}}
  <div class="activitycard">
    <a href="/activity/{{id}}">
      <img src="/images/{{activity.filename}}" alt="{{name}}" width="500px" />
    </a>
    <p>{{name}}</p>
    <p>{{benefit}}</p>
  </div>
{{/each}}