<div class="workout-card">
  <div class="workout-card-header">
    {{name}}
  </div>
  <div class="card-body">
     {{!-- <img>
      (how to add image?)
    </img> --}}
    <p>
      Benefits of Workout:
      {{description}}
    </p>
    <p>
      Reps/Sets:
      {{reps}}
    </p>
    <p>
      Difficulty Level:
      {{difficulty_level}}
    </p>
    <p>
      Equipment Needed:
      {{equipment}}
    </p>
    <p>
      Posted By:
      {{username}}
    </p>
  </div>
</div>